apiVersion: v1
kind: ConfigMap
metadata:
  name: fluent-bit-nginx-ingress-external
  namespace: argocd
  annotations:
    avp.kubernetes.io/path: "quyetmv/data/testing/kafka-config"
data:
  filter-kubernetes.conf: |-
    [FILTER]
      Name                kubernetes
      Match               kube.*
      Kube_URL            https://kubernetes.argocd.svc:443
      Kube_CA_File        /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
      Kube_Token_File     /var/run/secrets/kubernetes.io/serviceaccount/token
      Kube_Tag_Prefix     kube.var.log.containers.
      Merge_Log           Off
      Merge_Log_Key       log_processed
      K8S-Logging.Parser  On
      K8S-Logging.Exclude Off
      DNS_Retries         10
      DNS_Wait_Time       3
    [FILTER]
      Name grep
      Match *
      Regex message .*"status": "5.*
  fluent-bit.conf: |-
    [SERVICE]
      Flush         5
      Log_Level     info
      Daemon        off
      Parsers_File  parsers.conf
      HTTP_Server   On
      HTTP_Listen   0.0.0.0
      HTTP_Port     2020
    @INCLUDE input-kubernetes.conf
    @INCLUDE filter-kubernetes.conf
    @INCLUDE output-kafka.conf
  input-kubernetes.conf: |-
    [INPUT]
      Name              tail
      Tag               kube.*
      Path              /var/log/containers/nginx-ingress-external*.log
      Parser            cri
      DB                /var/log/flb_kube.db
      Mem_Buf_Limit     512MB
      Skip_Long_Lines   On
      Refresh_Interval  10
  output-kafka.conf: |-
    [OUTPUT]
      Name           kafka
      Match          *
      Brokers        ${KAFKA_INFRA_BROKER}
      Topics         ${INGRESS_INTERNAL_TOPIC}
      Timestamp_Key  @timestamp
      Format         json
      Retry_Limit    false
      rdkafka.log.connection.close false
      rdkafka.queue.buffering.max.kbytes 10240
      rdkafka.request.required.acks 1
      rdkafka.compression.codec gzip
      rdkafka.max.in.flight.requests.per.connection 5
      rdkafka.batch.num.messages 1000
      rdkafka.batch.size 1000000
      rdkafka.message.max.bytes 100000000
      rdkafka.security.protocol ${KAFKA_INFRA_PROTOCOL}
      rdkafka.sasl.username ${KAFKA_INFRA_USERNAME}
      rdkafka.sasl.password ${KAFKA_INFRA_PASSWORD}
      rdkafka.sasl.mechanism ${KAFKA_INFRA_MECHANISM}
  parsers.conf: |-
    [PARSER]
      Name   apache
      Format regex
      Regex  ^(?<host>[^ ]*) [^ ]* (?<user>[^ ]*) \[(?<time>[^\]]*)\] "(?<method>\S+)(?: +(?<path>[^\"]*?)(?: +\S*)?)?" (?<code>[^ ]*) (?<size>[^ ]*)(?: "(?<referer>[^\"]*)" "(?<agent>[^\"]*)")?$
      Time_Key time
      Time_Format %d/%b/%Y:%H:%M:%S %z
    [PARSER]
      Name   apache2
      Format regex
      Regex  ^(?<host>[^ ]*) [^ ]* (?<user>[^ ]*) \[(?<time>[^\]]*)\] "(?<method>\S+)(?: +(?<path>[^ ]*) +\S*)?" (?<code>[^ ]*) (?<size>[^ ]*)(?: "(?<referer>[^\"]*)" "(?<agent>[^\"]*)")?$
      Time_Key time
      Time_Format %d/%b/%Y:%H:%M:%S %z
    [PARSER]
      Name   apache_error
      Format regex
      Regex  ^\[[^ ]* (?<time>[^\]]*)\] \[(?<level>[^\]]*)\](?: \[pid (?<pid>[^\]]*)\])?( \[client (?<client>[^\]]*)\])? (?<message>.*)$
    [PARSER]
      Name   nginx
      Format regex
      Regex ^(?<remote>[^ ]*) (?<host>[^ ]*) (?<user>[^ ]*) \[(?<time>[^\]]*)\] "(?<method>\S+)(?: +(?<path>[^\"]*?)(?: +\S*)?)?" (?<code>[^ ]*) (?<size>[^ ]*)(?: "(?<referer>[^\"]*)" "(?<agent>[^\"]*)")?$
      Time_Key time
      Time_Format %d/%b/%Y:%H:%M:%S %z
    [PARSER]
      Name   json
      Format json
      Time_Key time
      Time_Format %d/%b/%Y:%H:%M:%S %z
    [PARSER]
      Name        docker
      Format      json
      Time_Key    time
      Time_Format %Y-%m-%dT%H:%M:%S.%L
      Time_Keep   On
    [PARSER]
      Name        syslog
      Format      regex
      Regex       ^\<(?<pri>[0-9]+)\>(?<time>[^ ]* {1,2}[^ ]* [^ ]*) (?<host>[^ ]*) (?<ident>[a-zA-Z0-9_\/\.\-]*)(?:\[(?<pid>[0-9]+)\])?(?:[^\:]*\:)? *(?<message>.*)$
      Time_Key    time
      Time_Format %b %d %H:%M:%S
    [PARSER]
      # http://rubular.com/r/tjUt3Awgg4
      Name        cri
      Format      regex
      Regex       ^(?<time>[^ ]+) (?<stream>stdout|stderr) (?<logtag>[^ ]*) (?<message>.*)$
      Time_Key    time
      Time_Format %Y-%m-%dT%H:%M:%S.%L%z